@import 'vars.scss';

body {
    overflow: hidden;

    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    transition: 1s all;

    opacity: 1;
    background: #110f11;

    align-items: center;
    justify-content: center;
    #loader {
        position: relative;
        #percentage {
            font-size: 80px;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            color: white;
        }
    }
    &.done {
        visibility: hidden;

        opacity: 0;
    }
}

#hiddenImages {
    display: none;
}

#navicon {
    font-size: 30px;

    position: fixed;
    z-index: 100;
    top: 15px;
    left: 15px;

    cursor: pointer;
    user-select: none;

    color: white;
}

#mainMenu {
    position: fixed;
    z-index: 50;
    top: 0;
    left: -100%;


    width: 100%;
    height: 100vh;

    transition: .5s cubic-bezier(.175, .885, .32, 1.275);
    text-align: center;

    background: rgba(0,0,0,.9);

    &.opened {
        left: 0;
    }
    .mainMenuItem {
        position: relative;

        width: 21%;
        height: 40vh;

        cursor: pointer;
        transition: .3s cubic-bezier(.53,1.83,.99,.93);

        border: 1px solid red;
        background-size: 100% auto;
        &:hover {
            background-size: 120% auto;
        }
        .mainMenuItemWrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            transition: .3s;

            background: hsla(0,0,100%, .2);
            &:hover {
                background: hsla(0,0,100%, 0);
            }
        }
        .mainMenuItemTitle {
            font-size: 25px;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 30px;

            color: white;
        }
    }
}
#mainMenu:before {
    content: '';
    height: 100%;
    width: 200px;
    background: inherit;
    position: absolute;
    top: 0;
    left: -200px;
    background: inherit;
    z-index: 30000;
}
.mainMenuInner {
    display: flex;

    width: 80%;
    height: 100vh;
    margin-left: 10%;

    transition: 1s;

    border: 1px solid red;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mainMenuItem:nth-child(1) {
    background: url(../images/mercuryIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(2) {
    background: url(../images/venusIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(3) {
    background: url(../images/earthIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(4) {
    background: url(../images/marsIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(5) {
    background: url(../images/jupiterIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(6) {
    background: url(../images/saturnIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(7) {
    background: url(../images/uranusIm.jpg) no-repeat center;
}
.mainMenuItem:nth-child(8) {
    background: url(../images/neptuneIm.jpg) no-repeat center;
}

#upButton,
#downButton {
    position: absolute;
    right: 10px;

    width: 8%;
    height: 60px;

    cursor: pointer;

    background: red;
}

#downButton {
    bottom: 5vh;
}
#upButton {
    top: 5vh;
}
.inactiveElement {
    opacity: .5;
}

#showSystem {
    font-size: 20px;

    position: fixed;
    bottom: 15px;
    left: 15px;

    display: inline-block;

    height: 25px;

    cursor: pointer;
    cursor: pointer;

    color: white;
}

.hidden {
    display: none !important;
}

//info

#showInfo {
    position: fixed;
    top: 0;
    right: -100%;

    overflow: hidden;

    width: 50%;
    height: 100vh;

    transition: .5s;
    text-align: center;

    border: 1px solid red;
    #showInfoInner {
        position: relative;

        width: 100%;
        height: 100%;
    }
}
.showInfoItem {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: 1.5s;
    overflow-y: scroll;

    opacity: 1;
    background: rgba(0,0,0,.5);
    z-index: 10;
}
h2.showInfoTitle {
    font-size: 25px;
    font-weight: bold;

    margin: 25px 0;

    color: white;
}
h3.showInfoTitle {
    font-size: 18px;
    font-weight: bold;

    margin: 25px 0;

    color: white;
}

.planetInfoTable {
    width: 50%;

    border-collapse: collapse;
    td {
        font-size: 20px;

        padding: 10px 0;

        color: white;
        border: 1px solid red;
    }
}
.planetInfoP {
    font-size: 20px;
    line-height: 1.5;

    width: 100%;
    min-height: 100px;
    margin-top: 15px;
    padding: 10px;

    text-align: left;

    color: #fdfdfd;
    border-radius: 35px;
    background: hsla(0,0,100,.2);
}
.planetInfoImg {
    margin-top: 15px;
    img {
        width: 100%;
    }
}
.peppermint {
    position: relative;

    margin-top: 15px;
    img {
        width: 100%;
    }
}
.videoWrapper {
    position: relative;

    height: 0;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 56.25%;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
