h1 {
  color: black;
  font-family: font;
  font-size: 2rem; }

h2.comTitle {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comDscr {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comP {
  color: black;
  font-family: font;
  font-size: 2rem; }

a.comButton {
  height: 55px;
  line-height: 55px;
  background: transparent;
  border: 3px solid red;
  display: inline-block;
  padding: 0 36px;
  font-family: "Arial";
  color: red;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.8rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }

body {
  color: black;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#preloader {
  overflow: hidden;
  background: #110F11;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  opacity: 1; }
  #preloader #loader {
    position: relative; }
    #preloader #loader #percentage {
      font-size: 80px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #preloader.done {
    opacity: 0;
    visibility: hidden; }

#hiddenImages {
  display: none; }

#navicon {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  user-select: none; }
