h1 {
  color: black;
  font-family: font;
  font-size: 2rem; }

h2.comTitle {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comDscr {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comP {
  color: black;
  font-family: font;
  font-size: 2rem; }

a.comButton {
  height: 55px;
  line-height: 55px;
  background: transparent;
  border: 3px solid red;
  display: inline-block;
  padding: 0 36px;
  font-family: "Arial";
  color: red;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.8rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }

body {
  color: black;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#preloader {
  overflow: hidden;
  background: #110F11;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  opacity: 1; }
  #preloader #loader {
    position: relative; }
    #preloader #loader #percentage {
      font-size: 80px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #preloader.done {
    opacity: 0;
    visibility: hidden; }

#hiddenImages {
  display: none; }

#navicon {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 100; }

#mainMenu {
  position: relative;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 50;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  overflow: hidden; }
  #mainMenu.opened {
    left: 0; }
  #mainMenu .mainMenuItem {
    border: 1px solid red;
    width: 21%;
    height: 40vh;
    position: relative;
    cursor: pointer;
    background-size: 100% auto;
    transition: 0.3s cubic-bezier(0.53, 1.83, 0.99, 0.93); }
    #mainMenu .mainMenuItem:hover {
      background-size: 120% auto; }
    #mainMenu .mainMenuItem .mainMenuItemWrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2);
      transition: .3s; }
      #mainMenu .mainMenuItem .mainMenuItemWrapper:hover {
        background: rgba(255, 255, 255, 0); }
    #mainMenu .mainMenuItem .mainMenuItemTitle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      font-size: 25px;
      color: white; }

.mainMenuInner {
  border: 1px solid red;
  width: 80%;
  height: 100vh;
  margin-left: 10%;
  transition: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.mainMenuItem:nth-child(1) {
  background: url(../images/mercuryIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(2) {
  background: url(../images/venusIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(3) {
  background: url(../images/earthIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(4) {
  background: url(../images/marsIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(5) {
  background: url(../images/jupiterIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(6) {
  background: url(../images/saturnIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(7) {
  background: url(../images/uranusIm.jpg) no-repeat center; }

.mainMenuItem:nth-child(8) {
  background: url(../images/neptuneIm.jpg) no-repeat center; }

#upButton, #downButton {
  position: absolute;
  width: 8%;
  height: 60px;
  background: red;
  right: 10px;
  cursor: pointer; }

#downButton {
  bottom: 5vh; }

#upButton {
  top: 5vh; }

.inactiveElement {
  opacity: .5; }

#showSystem {
  position: fixed;
  left: 15px;
  bottom: 15px;
  display: inline-block;
  height: 25px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  cursor: pointer; }

.hidden {
  display: none !important; }

#showInfo {
  position: fixed;
  right: -100%;
  top: 0;
  border: 1px solid red;
  width: 50%;
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s; }
  #showInfo #showInfoInner {
    width: 100%;
    height: 100%;
    position: relative; }

.showInfoItem {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 1.5s;
  z-index: 10; }

h2.showInfoTitle {
  color: white;
  font-size: 25px;
  margin: 25px 0;
  font-weight: bold; }

h3.showInfoTitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0; }

.planetInfoTable {
  width: 50%;
  border-collapse: collapse; }
  .planetInfoTable td {
    color: white;
    font-size: 20px;
    border: 1px solid red;
    padding: 10px 0; }

.planetInfoP {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  min-height: 100px;
  border-radius: 35px;
  padding: 10px;
  font-size: 20px;
  color: #fdfdfd;
  margin-top: 15px;
  text-align: left;
  line-height: 1.5; }

.planetInfoImg {
  margin-top: 15px; }
  .planetInfoImg img {
    width: 100%; }

.peppermint {
  margin-top: 15px;
  position: relative; }
  .peppermint img {
    width: 100%; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 15px; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
